trigger:
  branches:
    include:
    - main
    - develop

variables:
  terraformVersion: '1.5.7'
  acrName: 'acrterraformdevops'
  aksClusterName: 'aks-cluster-dev1'
  resourceGroup: 'rg-aks-terraform-devops'

stages:
- stage: Infrastructure
  displayName: 'Provision AKS Infrastructure'
  jobs:
  - job: Terraform
    displayName: 'Terraform Apply'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: TerraformInstaller@1
      displayName: 'Install Terraform'
      inputs:
        terraformVersion: $(terraformVersion)

    - task: TerraformTaskV4@4
      displayName: 'Terraform Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        backendServiceArm: 'Azure-Service-Connection'
        backendAzureRmResourceGroupName: $(resourceGroup)
        backendAzureRmStorageAccountName: '$(acrName)tfstate'
        backendAzureRmContainerName: 'tfstate'
        backendAzureRmKey: 'terraform.tfstate'

    - task: TerraformTaskV4@4
      displayName: 'Terraform Plan'
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        commandOptions: '-var="client_id=$(AZURE_CLIENT_ID)" -var="client_secret=$(AZURE_CLIENT_SECRET)" -var="tenant_id=$(AZURE_TENANT_ID)" -var="subscription_id=$(AZURE_SUBSCRIPTION_ID)"'

    - task: TerraformTaskV4@4
      displayName: 'Terraform Apply'
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
        commandOptions: '-auto-approve -var="client_id=$(AZURE_CLIENT_ID)" -var="client_secret=$(AZURE_CLIENT_SECRET)" -var="tenant_id=$(AZURE_TENANT_ID)" -var="subscription_id=$(AZURE_SUBSCRIPTION_ID)"'

- stage: Build
  displayName: 'Build and Push Container'
  dependsOn: Infrastructure
  jobs:
  - job: Build
    displayName: 'Build Docker Image'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: 'Build and Push'
      inputs:
        containerRegistry: 'Azure-Container-Registry'
        repository: 'flask-app'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        buildContext: '$(System.DefaultWorkingDirectory)/app'
        tags: |
          $(Build.BuildId)
          latest

- stage: Deploy
  displayName: 'Deploy to AKS'
  dependsOn: Build
  jobs:
  - job: Deploy
    displayName: 'Deploy Application'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Kubernetes@1
      displayName: 'Configure kubectl'
      inputs:
        connectionType: 'Azure Resource Manager'
        azureSubscription: 'Azure-Service-Connection'
        azureResourceGroup: $(resourceGroup)
        kubernetesCluster: $(aksClusterName)
        useClusterAdmin: true

    - task: Bash@3
      displayName: 'Replace ACR name in deployment file'
      inputs:
        targetType: 'inline'
        script: |
          sed -i 's/ACR_NAME/$(acrName).azurecr.io/g' $(System.DefaultWorkingDirectory)/app/k8s/deployment.yaml

    - task: Kubernetes@1
      displayName: 'Deploy to AKS'
      inputs:
        connectionType: 'Azure Resource Manager'
        azureSubscription: 'Azure-Service-Connection'
        azureResourceGroup: $(resourceGroup)
        kubernetesCluster: $(aksClusterName)
        namespace: 'default'
        command: 'apply'
        arguments: '-f $(System.DefaultWorkingDirectory)/app/k8s/'

    - task: Bash@3
      displayName: 'Check deployment status'
      inputs:
        targetType: 'inline'
        script: |
          kubectl get deployments
          kubectl get services
          kubectl get pods